<nav class="nav">
    <a href="{{ path('app_home') }}" class="nav__brand">
        <img src="{{ asset('assets/images/logo.png') }}" alt="Nuukotchi" class="nav__logo">
    </a>

    <ul class="nav__list">
        {% if app.session.get('user') is empty %}
            <li class="nav__item">
                <a href="{{ path('owner_login') }}" class="nav__link">Se connecter</a>
            </li>
            <li class="nav__item">
                <a href="{{ path('owner_signup') }}" class="nav__link">S'inscrire</a>
            </li>
        {% else %}
            <li class="nav__item">
                <a href="{{ path('tamagotchi_index', {id: app.session.get('user').toBase58}) }}" class="nav__link">Mes tamagotchis</a>
            </li>
            <li class="nav__item">
                <a href="{{ path('owner_logout') }}" class="nav__link">Se déconnecter</a>
            </li>
        {% endif %}
    </ul>
</nav>