{% extends 'base.html.twig' %}

{% block title %}{{ "Mon cimetière - " ~ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <h1 class="title">Mon cimetière</h1>
            <a href="{{ path('tamagotchi_index', {'ownerId': owner}) }}" class="add">
                <span class="add__icon">
                    <i class="fa-solid fa-person-running"></i>
                </span>
                <p class="add__text">Voir ceux vivants</p>
            </a>
        </div>
        <hr class="separation">

        <div class="grid">
            {% if tamagotchis is not empty %}
                {% for tamagotchi in tamagotchis %}
                    <div class="card dead">
                        <div class="card__header">
                            <form method="post" action="{{ path('tamagotchi_delete', {'ownerId': owner, 'id': tamagotchi.id}) }}" onsubmit="return confirm('Êtes-vous sûr de supprimer ce Tamagotchi !');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tamagotchi.id) }}">

                                <button class="card__delete">
                                <span class="card__delete__icon">
                                    <i class="fa-solid fa-trash"></i>
                                </span>
                                </button>
                            </form>
                            <img src="{{ asset('assets/images/tamagotchi.png') }}" alt="Tamagotchi" class="card__img">
                        </div>
                        <div class="card__body">
                            <h2 class="card__name {{ tamagotchi.first ? "first" : "" }}">{{ tamagotchi.name }}</h2>
                            <ul class="card__informations">
                                <li class="card__statistic">
                                    <i class="fa-solid fa-cake-candles"></i>
                                    {{ tamagotchi.created_at|date("d/m/Y") }}
                                </li>
                                <li class="card__statistic">
                                    <i class="fa-solid fa-cross"></i>
                                    {{ tamagotchi.died_on|date("d/m/Y") }}
                                </li>
                                <li class="card__statistic">
                                    Niveau
                                    {{ tamagotchi.level }}
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>Personne n'est mort :)</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
