{% extends 'base.html.twig' %}

{% block title %}{{ "Nouveau tamagotchi - " ~ parent() }}{% endblock %}

{% block body %}
    <div class="container center">
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
            <h1 class="title">Créer un nouveau Tamagotchi</h1>
            <hr class="separation">

            <div class="form__row">
                {{ form_label(form.name, null, {'label_attr': {'class': 'form__label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form__input'}}) }}
            </div>
            <button type="submit" class="form__submit">Créer</button>
            <a href="{{ path('tamagotchi_index', {'ownerId': owner}) }}" class="form__cancel">Retournez à la liste</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
